name: Build macOS

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'docs/**'

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: recursive
          lfs: true

      - name: Install dependencies
        run: |
          brew install cmake ninja

      - name: Configure CMake
        run: |
          cmake --preset macos

      - name: Build
        run: |
          cmake --build --preset macos

      - name: Build .app bundle
        run: |
          ./build_app.sh

      - name: Upload build artifact
        uses: actions/upload-artifact@v6
        with:
          name: pyrite64-macos
          include-hidden-files: true
          path: |
            Pyrite64.app
            data
            n64
            LICENSE
